# Core ML
numpy>=1.26
pandas>=2.2
scikit-learn>=1.5
scipy>=1.13

# ML models
xgboost>=2.0
lightgbm>=4.3

# Explainability
shap>=0.45

# Visualization
plotly>=5.22
matplotlib>=3.8
seaborn==0.12.2
kaleido

# Dashboard
streamlit>=1.35

# Data profiling
ydata-profiling==4.6.4
openpyxl

# LLM
groq
langchain
langchain-groq
langchain-community

# Gemini fallback
google-generativeai

# RAG
faiss-cpu
sentence-transformers
langchain-google-genai

# PDF
reportlab
Pillow

# Utils
python-dotenv